h1 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align : center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.col-12 {
    flex: 1;
    padding: 20px;
}

.col-lg-6 {
    flex: 1;
    max-width: 50%;
}
.img1 {
    display: block;
    margin-right: auto;
    margin-left: 15%;
    margin-bottom: 40px;
    width: 70%;
    border: 2px solid black;
}
.img2 {
    display: block;
    margin-right: auto;
    margin-left: 15%;
    margin-bottom: 40px;
    width: 70%;
    border: 2px solid black;
}
.cat {
    display: block;
    margin-right: auto;
    margin-left: 15%;
    margin-bottom: 20px;
    width: 30%;
    margin: 0 auto;
}

h2 {
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        padding: 10px;
        margin-bottom: 5px; 
}
.about-me {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align : center;
}

.about-me-bio {
        font-size: 18px;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align : center;
        border: 2px solid black;
        border-width: 2px;
        padding : 10px;
        max-width: 600px;
        margin: 0 auto;
    }

.socials-list {
    font-size: 18px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align : center;
    border: 2px solid black;
    border-width: 2px;
    padding : 10px;
    max-width: 600px;
    margin: 0 auto;
    list-style-position: inside;

}
body {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.fav-artists-list {
    font-size: 18px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center; 
    border: 2px solid black;
    border-width: 2px;
    padding : 10px;
    max-width: 600px;
    margin: 0 auto;
    list-style-position: inside;
}
.fav-films-list {
    font-size: 18px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 2px solid black;
    border-width: 2px;
    padding : 10px;
    max-width: 600px;
    margin: 0 auto;
    list-style-position: inside;
}
a {
    display: block;
    margin: 20px auto; 
    padding: 5px 5px; 
    font-size: 25px; 
    cursor: pointer; 
    text-align: center; 
}
.coding-languages-list {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 2px solid black;
    border-width: 2px;
    padding : 10px;
    max-width: 600px;
    margin: 0 auto;
    list-style-position: inside;
}

