h1 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align : center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.col-12 {
    flex: 1;
    padding: 20px;
}

.col-lg-6 {
    flex: 1;
    max-width: 50%;
}
.img1 {
    display: block;
    margin-right: auto;
    margin-left: 15%;
    margin-bottom: 40px;
    width: 70%;
    border: 2px solid black;
}
.img2 {
    display: block;
    margin-right: auto;
    margin-left: 15%;
    margin-bottom: 40px;
    width: 70%;
    border: 2px solid black;
}
.cat {
    display: block;
    margin-right: auto;
    margin-left: 15%;
    margin-bottom: 20px;
    width: 30%;
    margin: 0 auto;
}

h2 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px; 
}
.about-me-front {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align : center;
}

.about-me-bio-back {
        font-size: 18px;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align : center;
        border: 2px solid black;
        border-width: 2px;
        padding : 3px;
        max-width: 600px;
        margin: 0 auto;
    }

.socials-list {
    font-size: 18px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align : center;
    border: 2px solid black;
    border-width: 2px;
    padding : 10px;
    max-width: 600px;
    margin: 0 auto;
    list-style-position: inside;

}

.socials-list-card-back{
    font-size: 18px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align : center;
    border: 2px solid black;
    border-width: 2px;
    padding : 3px;
    max-width: 600px;
    margin: 0 auto;
}
body {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.fav-artists-list {
    font-size: 18px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center; 
    border: 2px solid black;
    border-width: 2px;
    padding : 10px;
    max-width: 600px;
    margin: 0 auto;
    list-style-position: inside;
}
.fav-films-list {
    font-size: 18px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 2px solid black;
    border-width: 2px;
    padding : 10px;
    max-width: 600px;
    margin: 0 auto;
    list-style-position: inside;
}
a {
    display: block;
    margin: 20px auto; 
    padding: 5px 5px; 
    font-size: 25px; 
    cursor: pointer; 
    text-align: center; 
}
.fav-videogames-list{
    font-size: 18px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center; 
    border: 2px solid black;
    border-width: 2px;
    padding : 10px;
    max-width: 600px;
    margin: 0 auto;
    list-style-position: inside;
}

.about-me-card {
    width: 50%;
    max-width: 300px;
    height: 250px;
    margin: 1rem auto;
    perspective: 1000px;
    cursor: pointer;
    position: relative; /* Ensure it takes up space */
    text-align: center;
}

.about-me-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.about-me-card:hover .about-me-card-inner {
    transform: rotateY(180deg);
}
.about-me-front,
.about-me-bio-back {
    position: absolute;
    width: 90%;
    height: 90%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-me-front {
    background-image: url(background.jpg);
    border: 2px solid #e5e7eb;
    color: #000;
}

.about-me-bio-back {
    background-image: url(background.jpg);
    background: rgba(10, 0, 0,1 0.111);
    color: black;
    transform: rotateY(180deg);
}

.socials-list-card {
    width: 50%;
    max-width: 300px;
    height: 250px;
    margin: 1rem auto;
    perspective: 1000px;
    cursor: pointer;
    position: relative; /* Ensure it takes up space */
    text-align: center;
}

.socials-list-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.socials-list-card:hover .socials-list-card-inner {
    transform: rotateY(180deg);
}
.socials-list-card-front,
.socials-list-card-back {
    position: absolute;
    width: 90%;
    height: 90%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.socials-list-card-front {
    background-image: url(background.jpg);
    border: 2px solid #e5e7eb;
    color: #000;
}

.socials-list-card-back {
    background-image: url(background.jpg);
    background: rgba(10, 0, 0,1 0.111);
    color: black;
    transform: rotateY(180deg);
}

/* CODING LANGUGES SECTION */

.coding-languages-list {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    border-width: 2px;
    font-size: 25px;
    padding : 10px;
    max-width: 600px;
    margin: 0 auto;
    list-style-position: inside;
}

.coding-languages-card {
    width: 50%;
    max-width: 300px;
    height: 250px;
    margin: 1rem auto;
    perspective: 1000px;
    cursor: pointer;
    position: relative; /* Ensure it takes up space */
    text-align: center;
}

.coding-languages-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.coding-languages-card:hover .coding-languages-card-inner {
    transform: rotateY(180deg);
}
.coding-languages-card-front,
.coding-languages-card-back {
    position: absolute;
    width: 90%;
    height: 90%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.coding-languages-card-front {
    background-image: url(background.jpg);
    border: 2px solid #e5e7eb;
    color: #000;
    font-size: 14px;
}

.coding-languages-card-back {
    background-image: url(background.jpg);
    background: rgba(10, 0, 0,1 0.111);
    color: black;
    transform: rotateY(180deg);
}


/* FAVORITE MUSIC ARTISTS SECTION */

.fav-artists-list {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: 25px;
    padding : 10px;
    max-width: 600px;
    margin: 0 auto;
    list-style-position: inside;
}

.favorite-artists-card {
    width: 50%;
    max-width: 300px;
    height: 250px;
    margin: 1rem auto;
    perspective: 1000px;
    cursor: pointer;
    position: relative; /* Ensure it takes up space */
    text-align: center;
}

.favorite-artists-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}


.favorite-artists-card:hover .favorite-artists-card-inner {
    transform: rotateY(180deg);
}



.favorite-artists-card-front, /* change these to fit artists */
.favorite-artists-card-back {
    position: absolute;
    width: 90%;
    height: 90%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}


.favorite-artists-card-front {
    background-image: url(background.jpg);
    border: 2px solid #e5e7eb;
    color: #000;
    font-size: 13px;
}

.favorite-artists-card-back {
    background-image: url(background.jpg);
    background: rgba(10, 0, 0,1 0.111);
    color: black; 
    transform: rotateY(180deg);
}
